.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;

    a {
        text-decoration: none;
    }
}

.clients-section-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.clients-section-header {
    margin-top: 0px;
    margin-bottom: 50px;
    color: $secondary-text-color;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 1px solid $accent;
        color: $accent;
    }
}

.client-link-icon {
    fill: currentColor;
}