/*Hero section*/
.hero-section {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    background-color: #aaaaaa;

    background-image: 
        linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../img/hero-background.jpg');
    background-size: cover;

    a {
        text-decoration: none;
    }

    .content {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-section-header {
    margin: 0;
    padding: 0;

    color: $heading-text-color;

    font-family: $main-font;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-section-button {
    display: inline-block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;

    color: $heading-text-color;
    background-color: $accent;

    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}